.task-input {
    max-width: 450px;
}

.add-task {
    padding-left: 10px;;
}

body {
    background-color: #ebf2fa;
}

h2 {
    text-align: center;
}

.home {
    max-width: 500px;
    margin: 0 auto;
}

.get-started {
    text-align: center;
    padding-top: 15px;
}

li .text {
    overflow-wrap: break-word;
    flex: 1;
    width: 0;
    padding-right: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.headers {
    margin-bottom: 30px;
}

.headers.home {
    margin-top: 15px;;
}


.btn-primary {
    background-color: #064789;
}

.landing {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    margin-top: 20px;
}

.info {
    margin-bottom: 35px;
}


img {
    margin-top: 0;
    margin-bottom: 30px;
    height: 250px;
    width: 250px;
}

.landing-buttons {
    display: inline-block;
    margin-right: 50px;
    margin-top: 10px;
}

.account {
    margin: 0 auto;
    margin-top: 20px;;
    text-align: center;
    width: 500px;
}

.change-password {
    margin-top: 20px;
    margin-bottom: 30px;
}

h6, .change-password {
    margin-bottom: 20px;;
}

p, change-password {
    margin-top: -5px;

}

.warning {
    margin-top: 10px;
}
