{% extends "base.html" %}

{% block body %}
    <div class="py-5 text-center">
        <h1>Change Password</h1>
        <form action="/change-password" method="POST">
            <div class="mb-3">
                <input autofocus class="form-control mx-auto w-auto" name="email" placeholder="Email" type="email" value="{{ email }}">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="current_password" placeholder="Current Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm New Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Change Password</button>
        </form>
    </div>
{% endblock %}