{% extends "base.html" %}


{% block title%}To Do List{% endblock %}

{% block body %}


<div class="landing">
<h1>To-Do List:</h1>

<!-- Image sourced from Canva: Nika Ray -->
<img src="static/image.png" alt="person putting note on wall">


<h4 class="info">Create a to-do list and access it from any device!</h4>

<hr>

<div class="landing-buttons">
<h6 class="existing-user">Already have <br> an account?</h6>
<a href="/login" class="btn btn-primary">Log in</a>
</div>

<div class="landing-buttons">
<h6>New?</h6>
<a href="/register" class="btn btn-primary">Register</a>
</div>
</div>


{% endblock %}