{% extends "base.html" %}

{% block title%}Login{% endblock %}


{% block body %}
    <div class="py-5 text-center">
        <h1>Log In</h1>
        <form action="/login" method="post">
            <div class="mb-3">
                <input autofocus class="form-control mx-auto w-auto" name="email" placeholder="Email" type="email" value="{{ email }}">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>
{% endblock %}
